In [1]:
import requests
import pandas as pd
from dotenv import load_dotenv

load_dotenv()

True

In [2]:
headers = {
    'authorization': f'Apikey {os.getenv("CC_API_KEY")}'
}

In [18]:
exchange = 'Kraken'
from_symbol = 'BTC'
to_symbol = 'USD'

In [23]:
mapping_from_symbol = f'https://min-api.cryptocompare.com/data/v2/pair/mapping/fsym?fsym={from_symbol}'
mapping_from_exchange = f'https://min-api.cryptocompare.com/data/v2/pair/mapping/exchange?e={exchange}'

order_book = f'https://min-api.cryptocompare.com/data/ob/l1/top?fsyms={from_symbol}&tsyms={to_symbol}&e={exchange}'

hourly_exchange_volume = f'https://min-api.cryptocompare.com/data/exchange/symbol/histohour?fsym={from_symbol}&tsym={to_symbol}&limit=10&e={exchange}'

In [24]:
order_l1 = requests.get(order_book, headers=headers).json()
volume = requests.get(hourly_exchange_volume, headers=headers).json()

In [25]:
order_l1

{'Response': 'Success',
 'Message': '',
 'HasWarning': False,
 'Type': 100,
 'RateLimit': {},
 'Data': {'RAW': {'BTC': {'USD': {'CCSEQ': 446435658,
     'BID': 19535.8,
     'BID_REPORTED_MS': 1666011494674,
     'ASK': 19535.9,
     'ASK_REPORTED_MS': 1666011508745}}},
  'DISPLAY': {'BTC': {'USD': {'BID': '$ 19,535.8', 'ASK': '$ 19,535.9'}}}}}

In [22]:
pd.DataFrame(volume['Data'])

          time   volumeto   volumefrom  volumetotal
0   1665972000   86053.35    693266.21    779300.35
1   1665975600   24067.36    812033.41    836023.99
2   1665979200   22825.45   1744887.55   1767770.69
3   1665982800   23491.91   1619573.50   1643084.68
4   1665986400   41158.47   3676361.24   3717538.94
5   1665990000  147778.88   8360177.94   8507995.41
6   1665993600   55377.24   2543693.50   2599167.05
7   1665997200  130871.36   3378747.90   3509696.63
8   1666000800  558612.58   2535674.38   3094286.95
9   1666004400  148508.80   9995739.60  10144209.48
10  1666008000  141895.12  11420788.24  11562663.81