In [3]:
import requests
import pandas as pd
from dotenv import load_dotenv

load_dotenv()

True

In [4]:
headers = {
    'authorization': f'Apikey {os.getenv("CC_API_KEY")}'
}

In [5]:
min_pair = f'https://min-api.cryptocompare.com/data/v2/histominute?fsym=BTC&tsym=GBP&limit=10'

In [6]:
r = requests.get(min_pair, headers=headers).json()

In [12]:
df = pd.DataFrame(r["Data"]["Data"])

In [13]:
df

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1667729160,18676.27,18674.45,18676.27,5.9220,110595.49,18675.36,invert_divide,ETH
1,1667729220,18679.41,18674.60,18679.41,0.3527,6588.52,18674.90,direct,
2,1667729280,18679.02,18674.90,18674.90,0.1067,1992.53,18677.40,direct,
3,1667729340,18678.54,18677.10,18677.40,0.1604,2996.50,18678.54,direct,
4,1667729400,18678.54,18678.15,18678.54,0.0859,1604.67,18678.15,direct,
5,1667729460,18678.48,18676.31,18678.15,0.3687,6886.18,18676.41,direct,
6,1667729520,18676.42,18674.12,18676.41,0.4592,8576.35,18674.12,direct,
7,1667729580,18674.34,18674.12,18674.12,0.1677,3133.27,18674.23,direct,
8,1667729640,18678.93,18674.23,18674.23,0.1983,3703.86,18677.70,direct,
9,1667729700,18681.02,18676.97,18678.58,17.6200,329092.87,18677.23,invert_divide,ETH
10,1667729760,18680.06,18679.89,18679.89,0.0000,0.00,18680.06,direct,